<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <!-- header -->
    <header class="website-header">
        <img src="./img/logo.png" alt="website logo">
        <span>Toboolist</span>
    </header>
    <!-- /header -->


    <!-- main -->
    <main>
        <div class="container">
            <!-- add task area -->


            <div id="app">
                <div class="top">
                    <input type="text" v-model="newTodoText" placeholder="Aggiungi un nuovo compito..."
                           @keyup.enter="addTask">
                    <button @click="addTask">Aggiungi</button>
                </div>
            
                <div class="list">
                    <ul class="main-list">
                        <li v-for="(task, category) in categorizedTasks" :key="category">
                            <h3>&#10148; {{ category }}</h3>
                            <ul class="inner-list">
                                <li v-for="todo in task" :key="todo.text">
                                    <span :class="[todo.done ? 'check' : 'cross']">{{ todo.text }}</span>
                                    
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /lista annidata -->
    </main>
    <!-- /main -->
    <script src="./js/script.js"></script>
</body>
</html>